
.guess_word {
    display: flex
}
li.guess_letter {
    width: 50px;
    height: 60px;
    margin: 5px;
    list-style: none;
    font-size: 3em;
}

.guess_letter.clean {
    background-color: #f0f0f0;
}

.guess_letter.correct, .ipa_button.correct {
    background-color: green;   
}

.guess_letter.incorrect, .ipa_button.incorrect {
    background-color: gray;
}

.guess_letter.partial, .ipa_button.partial {
    background-color: yellow;
}

.ipa_button {
    width: 79px;
    height: 79px;
    font-size: 3em;
    border: none;
}